@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,600&family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Rubik', sans-serif;
    background-image: url("../images/omenapuu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0.7em;
    

  }

  body {
    background: rgba(255,255,255,0.8);
    min-height: 95vh;
    max-width: 35rem;
    margin: 0 auto ;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.6);
    border-radius: 0.5rem 0.5rem ;

  }

  header {
    background-color: rgba(255, 255, 255,0.7);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
  }

header h1 img {
    width: 100px;
    margin: 0.1em;
}

  header a {
    color: #000;
    text-decoration: none;
  }

  section {
    padding: 1.5rem 1rem 1rem 1rem;
  }

  section h1 {
    margin-bottom: 1rem;
  }

  hr {
    border: none;
    border-top: solid #1B1B3A 2px;
    margin: 1rem;
  }

  footer {
    font-size: 0.8rem;
    text-align: center;
    color: #1B1B3A;
  }

  .tapahtumat > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .tapahtumat > div > div:nth-child(3) {
    text-align: right;
  }

  .tapahtumat > div a {
    text-decoration: none;
  }

  form > div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }

  input {
    border: 1px solid #7ab317;
    border-radius: 0.3rem;
    padding: 0.45rem;
    font-size: 1rem;
  }

  input[type=submit], .button {
    padding: 0.5rem 3rem;
    border-radius: 0.3rem;
    background-color: #7ab317;
    color: #fff;
    font-weight: bold;
    min-width: 12rem;
    margin: 1rem auto;
  }

  .error {
  color: red;
  font-size: 0.8rem;
}

.info {
  background-color: #e5e5e5;
  border: 1px solid  #7ab317;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.info a {
  color:  #7ab317;
}

.flexarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.button {
  text-decoration: none;
}



  
  
  
    
  
  
  